<h5 class="border-bottom border-info pb-2 mb-4">Añadir usuario</h5>

<div *ngIf="edit" class="alert alert-info" role="alert">
    Se habilito la edición del usuario.
</div>
<form>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputNombre">Nombre</label>
            <input [(ngModel)]=nuevoUsuario.nombre name="inputNombre" type="text" class="form-control" id="inputNombre"
                placeholder="Escribir nombre">
        </div>
        <div class="form-group col-md-3">
            <label for="inputEdad">Edad</label>
            <input [(ngModel)]=nuevoUsuario.edad name="inputEdad" type="number" class="form-control" id="inputEdad"
                placeholder="Escribir Edad">
        </div>
        <div class="form-group col-md-3">
            <label for="inputTipo">Tipo</label>
            <select [(ngModel)]=nuevoUsuario.tipo name="inputTipo" id="inputTipo" class="form-control">
                <option [value]="''" selected disabled>Seleccionar...</option>
                <option [value]="tipo.tipo" *ngFor="let tipo of tipos">{{tipo.tipo}}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="button" style="opacity: 0;">----</label>
            <button *ngIf="!edit" type="button" class="btn btn-success btn-block" (click)="agregarUsuario()">Enviar</button>
            <button *ngIf="edit" type="button" class="btn btn-info btn-block" (click)="guardarEdicionUsuario()">Guardar edición</button>
        </div>
    </div>
</form>

<h5 class="border-bottom border-info pb-2 mb-4 mt-4">Tabla de usuarios</h5>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Tipo</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <th scope="row"> {{usuario.id}} </th>
            <td> {{usuario.nombre}} </td>
            <td> {{usuario.edad}} </td>
            <td> <span class="badge" [ngClass]="{'badge-secondary': usuario.tipo == 'Basico',
                                'badge-primary': usuario.tipo == 'Avanzado',
                                'badge-success': usuario.tipo == 'Profesional'}">{{usuario.tipo}}</span>
            </td>
            <td> 
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger" (click)="eliminarUsuario(usuario.id)">Eliminar</button>
                    <button *ngIf="!edit" type="button" class="btn btn-info" (click)="editarUsuario(usuario)">Editar</button>
                    <button *ngIf="edit" type="button" class="btn btn-warning" (click)="cancelarEditarUsuario()">Cancelar editar</button>
                </div>
            </td>
        </tr>
        <tr *ngIf="!usuarios.length">
            <td colspan="5" class="text-center">Sin registros de usuarios</td>
        </tr>
    </tbody>
</table>